In [1]:
import pandas as pd
import numpy as np

In [15]:
import mysql.connector
db_con = mysql.connector.connect(host='localhost',user='root',password='Password@123')
cursor=db_con.cursor()

In [3]:
data = pd.read_csv("/home/user/NUVENTO/file1.csv")
data

,SourceTableName,SourceColumnName,TargetTableName,TargetColumnName
0,PSRW_HealthOfficeVisits,Actions,OfficeVisit,Actions_Health_Visit
1,PSRW_HealthOfficeVisits,Assessment,OfficeVisit,Assessment_Comments
2,PSRW_HealthOfficeVisits,ID,OfficeVisit,Health_Visit_ID
3,PSRW_HealthOfficeVisits,Outcome,OfficeVisit,Screening_Outcome
4,PSRW_HealthOfficeVisits,Outcome_ID,OfficeVisit,NaN
...,...,...,...,...
333,PSRW_SchoolEnrollment,SourceID,StudentDetails,NaN
334,PSRW_SchoolEnrollment,SourceTable,STUDENUdostring,NaN
335,PSRW_SchoolEnrollment,StudentID,StudentProfile,StudentID
336,PSRW_SchoolEnrollment,TermID,TermsDetabli,NaN
337,PSRW_SchoolEnrollment,YearID,TermsDetabli,NaN

### dataframe df1,df2 is created with respective columns

In [62]:
df1=data.drop(['TargetTableName','TargetColumnName'],axis=1)
df2=data.drop(['SourceTableName','SourceColumnName'],axis=1)

In [5]:
df1.head()

           SourceTableName SourceColumnName
0  PSRW_HealthOfficeVisits          Actions
1  PSRW_HealthOfficeVisits       Assessment
2  PSRW_HealthOfficeVisits               ID
3  PSRW_HealthOfficeVisits          Outcome
4  PSRW_HealthOfficeVisits       Outcome_ID

### preparing the list of tables to be created in Database 2

In [6]:
lst=df1.SourceTableName.unique().tolist()
print(lst)

['PSRW_HealthOfficeVisits', 'PS_Enrollment_Al', 'PSRW_HealthGradeLevel', 'PSRW_HealthImmunization', 'PSRW_HealthImmunizationDoses', 'PSRW_HealthMedical', 'PSRW_HealthScreeningTypes', 'PSRW_HealthScreeningWaiver', 'PSRW_HealthStudHearing', 'PSRW_HealthStudOral', 'PSRW_HealthStudScoliosis', 'PSRW_HealthStudTuberculosis', 'PSRW_HealthStudVision', 'PSRW_HealthVitalSigns', 'VWStudentCoreFieldsUC', 'DistrictSchoolView', 'PSSIS_Student_Demographics', 'PSSIS_Student_Enrollments', 'PSRW_SchoolEnrollment']

### Creating tables in the Database 1

In [40]:
for tblName in lst:  
    rslt_df = df1[df1["SourceTableName"] == tblName] 
    lt_col=rslt_df["SourceColumnName"].tolist()
    #print(lt_col)
    SqlQrt="CREATE TABLE " +  tblName + " ("
    colQuery=""
    Col_count=0
    for colName in lt_col:
        Col_count=Col_count+1
        colQuery=colName + " varchar(40) "
        if(len(lt_col)!=Col_count):
            colQuery=colQuery+"," 
        SqlQrt=SqlQrt+" "+ colQuery 
    SqlQrt=SqlQrt + ");"
    cursor.execute("use Database1")
    cursor.execute(SqlQrt)

    print(SqlQrt)

CREATE TABLE PSRW_HealthOfficeVisits ( Actions varchar(40) , Assessment varchar(40) , ID varchar(40) , Outcome varchar(40) , Outcome_ID varchar(40) , ParentGuardian_Contact_Ind varchar(40) , Provider_Name varchar(40) , Provider_Type varchar(40) , StudentID varchar(40) , Time_In varchar(40) , Time_Out varchar(40) , Visit_Date varchar(40) , Visit_Reason varchar(40) , Visit_Type varchar(40) , Visit_Type_ID varchar(40) );
CREATE TABLE PS_Enrollment_Al ( ATT_CalcCntPresentAbsent varchar(40) , ATT_IntervalDuration varchar(40) , EntryDate varchar(40) , EntryCode varchar(40) , ExitDate varchar(40) , ExitCode varchar(40) , Dflt_Att_Mode_Code varchar(40) , Dflt_Conversion_Mode_Code varchar(40) , FTEID varchar(40) , Grade_Level varchar(40) , MembershipShare varchar(40) , ProgramID varchar(40) , SchoolID varchar(40) , StudentID varchar(40) , Track varchar(40) , YearID varchar(40) );
CREATE TABLE PSRW_HealthGradeLevel ( Certification_Comment varchar(40) , Certification_Date varchar(40) , Certification_Description varchar(40) , Certification_First_Name varchar(40) , Certification_Grade_Level varchar(40) , Certification_Last_Name varchar(40) , Certification_Middle_Name varchar(40) , Certification_Status varchar(40) , ID varchar(40) , StudentID varchar(40) );
CREATE TABLE PSRW_HealthImmunization ( Administered_Dose_Count varchar(40) , Compliance_Status varchar(40) , Exemption_Code varchar(40) , Exemption_Reason varchar(40) , Exemption_State_Code varchar(40) , Exemption_State_Reason varchar(40) , Exemption_Status varchar(40) , ID varchar(40) , Immunization_Comment varchar(40) , Student_ID varchar(40) , Vaccine_Code varchar(40) , Vaccine_Compliance_Mode varchar(40) , Vaccine_Description varchar(40) , Vaccine_Dose_Count varchar(40) , Vaccine_ID varchar(40) , Vaccine_MandatoryOptional varchar(40) , Vaccine_Name varchar(40) , Vaccine_Sort_Order varchar(40) , Vaccine_State_Code varchar(40) , Vaccine_State_Name varchar(40) );
CREATE TABLE PSRW_HealthImmunizationDoses ( Certificate_Type_Code varchar(40) , Certificate_Type_Name varchar(40) , Certificate_Type_State_Code varchar(40) , Certificate_Type_State_Name varchar(40) , Compliancy_Statement varchar(40) , Compliancy_Status varchar(40) , Dose_Date_Administered varchar(40) , Dose_Date_Recorded varchar(40) , Dose_Number varchar(40) , Is_Default_Certificate_Type varchar(40) , ID varchar(40) , Imm_Source_ID varchar(40) , StudentID varchar(40) , Student_Imm_Record_ID varchar(40) , Vaccine_ID varchar(40) , Vaccine_Name varchar(40) , Vaccine_Sort_Order varchar(40) , Vaccine_Dose_Count varchar(40) );
CREATE TABLE PSRW_HealthMedical ( Active_Med_Alert_Indicator varchar(40) , Custom varchar(40) , ID varchar(40) , Immunization_Status varchar(40) , Medical_Alert_Exp_Date varchar(40) , Medical_Alert_Text varchar(40) , StudentID varchar(40) );
CREATE TABLE PSRW_HealthScreeningTypes ( ScreeningTypeID varchar(40) , ScreeningTypeName varchar(40) );
CREATE TABLE PSRW_HealthScreeningWaiver ( ID varchar(40) , StudentID varchar(40) , Waiver_Date varchar(40) , Grade_Level varchar(40) , Waiver_Reason varchar(40) , Comments varchar(40) );
CREATE TABLE PSRW_HealthStudHearing ( Comment varchar(40) , Grade_Level varchar(40) , Hearing_Aid varchar(40) , ID varchar(40) , Impaired_Test_Indicator varchar(40) , Late_Test_Indicator varchar(40) , Left_Ear_Result varchar(40) , Outcome varchar(40) , Provider_Name varchar(40) , Provider_Type varchar(40) , Referral_Date varchar(40) , Right_Ear_Result varchar(40) , Screening_Date varchar(40) , ScreeningTypeID varchar(40) , StudentID varchar(40) , Test_Type varchar(40) );
CREATE TABLE PSRW_HealthStudOral ( Comment varchar(40) , Grade_Level varchar(40) , HistoryOfCaries varchar(40) , ID varchar(40) , Malocclusion varchar(40) , Outcome varchar(40) , Provider_Name varchar(40) , Provider_Type varchar(40) , Screening_Date varchar(40) , ScreeningTypeID varchar(40) , Sealants varchar(40) , StudentID varchar(40) , TreatmentUrgency varchar(40) , UntreatedCaries varchar(40) );
CREATE TABLE PSRW_HealthStudScoliosis ( Comment varchar(40) , Grade_Level varchar(40) , ID varchar(40) , Outcome varchar(40) , Provider_Name varchar(40) , Provider_Type varchar(40) , Screening_Date varchar(40) , ScreeningTypeID varchar(40) , StudentID varchar(40) , Xray_Film_Date varchar(40) , Xray_Film_Impression varchar(40) );
CREATE TABLE PSRW_HealthStudTuberculosis ( Comment varchar(40) , Grade_Level varchar(40) , ID varchar(40) , Induration_Size varchar(40) , Outcome varchar(40) , Provider_Name varchar(40) , Provider_Type varchar(40) , Screening_Date varchar(40) , ScreeningTypeID varchar(40) , Skin_Test_Given_Date varchar(40) , Skin_Test_Read_Date varchar(40) , Skin_Test_Result varchar(40) , Skin_Test_Type varchar(40) , StudentID varchar(40) , Xray_Film_Date varchar(40) , Xray_Film_Impression varchar(40) );
CREATE TABLE PSRW_HealthStudVision ( Color_Blind_Test_Result varchar(40) , Comment varchar(40) , Grade_Level varchar(40) , ID varchar(40) , Late_Test_Indicator varchar(40) , Left_Eye_Result varchar(40) , Outcome varchar(40) , Provider_Name varchar(40) , Provider_Type varchar(40) , Referral_Date varchar(40) , Right_Eye_Result varchar(40) , Screening_Date varchar(40) , ScreeningTypeID varchar(40) , StudentID varchar(40) , Vision_Aid varchar(40) );
CREATE TABLE PSRW_HealthVitalSigns ( BMI varchar(40) , Comment varchar(40) , Diastolic varchar(40) , Grade_Level varchar(40) , Heart_Rate varchar(40) , Height varchar(40) , Height_Percentile varchar(40) , ID varchar(40) , Outcome varchar(40) , Provider_Name varchar(40) , Provider_Type varchar(40) , Screening_Date varchar(40) , ScreeningTypeID varchar(40) , StudentID varchar(40) , Systolic varchar(40) , Temperature varchar(40) , Weight varchar(40) , Weight_Percentile varchar(40) , Weight_Status varchar(40) );
CREATE TABLE VWStudentCoreFieldsUC ( Emerg_1_PType varchar(40) , Emerg_1_Rel varchar(40) , Emerg_2_PType varchar(40) , Emerg_2_Rel varchar(40) , Emerg_3_Phone varchar(40) , Emerg_3_PType varchar(40) , Emerg_3_Rel varchar(40) , Emerg_Contact_3 varchar(40) , Father_Employer varchar(40) , Father_Home_Phone varchar(40) , FatherDayPhone varchar(40) , Guardian_FN varchar(40) , Guardian_LN varchar(40) , Guardian_MN varchar(40) , GuardianDayPhone varchar(40) , ID varchar(40) , Mother_Employer varchar(40) , Mother_Home_Phone varchar(40) , MotherDayPhone varchar(40) , StudentsDCID varchar(40) );
CREATE TABLE DistrictSchoolView ( Abbreviation varchar(40) , ActiveCrsList varchar(40) , Address varchar(40) , Alternate_School_Number varchar(40) , AsstPrincipal varchar(40) , AsstPrincipalEmail varchar(40) , AsstPrincipalPhone varchar(40) , BulletinEmail varchar(40) , CountyNbr varchar(40) , Custom varchar(40) , DCID varchar(40) , DfltNextSchool varchar(40) , DistrictNumber varchar(40) , Fee_Exemption_Status varchar(40) , High_Grade varchar(40) , Hist_High_Grade varchar(40) , Hist_Low_Grade varchar(40) , ID varchar(40) , IsSummerSchool varchar(40) , Low_Grade varchar(40) , Name varchar(40) , PortalID varchar(40) , Principal varchar(40) , PrincipalEmail varchar(40) , PrincipalPhone varchar(40) , PSComm_Path varchar(40) , ScheduleWhichSchool varchar(40) , SchoolAddress varchar(40) , SchoolCategoryCodesetID varchar(40) , SchoolCity varchar(40) , SchoolCountry varchar(40) , SchoolFax varchar(40) , SchoolGroup varchar(40) , SchoolInfo_GUID varchar(40) , SchoolPhone varchar(40) , SchoolState varchar(40) , SchoolZip varchar(40) , School_Number varchar(40) , SIF_StatePrID varchar(40) , SortOrder varchar(40) , State_ExcludeFromReporting varchar(40) , SysEmailFrom varchar(40) , TchrLogEntrTo varchar(40) , View_In_Portal varchar(40) );
CREATE TABLE PSSIS_Student_Demographics ( Name varchar(40) , Student_Number varchar(40) , Current_Grade_Level varchar(40) , Current_School_Abbreviation varchar(40) , Gender varchar(40) , Ethnicity_Name varchar(40) , Ethnicity_Code varchar(40) , Special_Ed_Student varchar(40) , Current_Enroll_Status varchar(40) , Number_years_In_District varchar(40) , Middle_Name varchar(40) , Last_Name varchar(40) , First_Name varchar(40) , Date_Of_Birth varchar(40) , ClassOf varchar(40) , DistrictEntryDate varchar(40) , DistrictEntryGradeLevel varchar(40) , DistrictofResidence varchar(40) , Exclude_From_Rank varchar(40) , Family_Ident varchar(40) , Fee_Exemption_Status varchar(40) , Graduation_Req_Set varchar(40) , Home_Phone varchar(40) , Locker_Combination varchar(40) , Locker_Number varchar(40) , PhotoFlag varchar(40) , SSN varchar(40) , Exclude_From_Reporting varchar(40) , State_Enrolled varchar(40) , State_Student_Number varchar(40) , Allow_Web_Access varchar(40) , Web_ID varchar(40) , Web_Password varchar(40) , MembershipShare varchar(40) );

CREATE TABLE PSSIS_Student_Enrollments ( Name varchar(40) , Student_Number varchar(40) , Current_School_Abbreviation varchar(40) , Grade varchar(40) , Current_Enroll_Status varchar(40) , EnrollmentCode varchar(40) , EnrollmentType varchar(40) , Full_Time_Equivalency varchar(40) , Enrollment_Transfer_Date_Pend varchar(40) , Enrollment_Transfer_Info varchar(40) , Entry_Code varchar(40) , Entry_Reason varchar(40) , Entry_Date varchar(40) , Exit_Code varchar(40) , Exit_Reason varchar(40) , Exit_Comment varchar(40) , Exit_Date varchar(40) , Graduated_Rank varchar(40) , Graduated_SchoolName varchar(40) , Log_Notes varchar(40) , Transfer_Comments varchar(40) , Withdrawal_Reason varchar(40) , Lunch_Portion_to_Pay varchar(40) , MembershipShare varchar(40) , TuitionPayer varchar(40) , Track varchar(40) );
CREATE TABLE PSRW_SchoolEnrollment ( AsstPrincipal varchar(40) , AsstPrincipalEmail varchar(40) , AsstPrincipalPhone varchar(40) , CountyName varchar(40) , EntryCode varchar(40) , EntryDate varchar(40) , ExitCode varchar(40) , ExitDate varchar(40) , Grade_Level varchar(40) , ID varchar(40) , Principal varchar(40) , PrincipalEmail varchar(40) , PrincipalPhone varchar(40) , SchoolAddress varchar(40) , SchoolCity varchar(40) , SchoolCountry varchar(40) , SchoolFax varchar(40) , SchoolID varchar(40) , SchoolName varchar(40) , SchoolPhone varchar(40) , SchoolState varchar(40) , SchoolYear varchar(40) , SchoolZip varchar(40) , SourceDCID varchar(40) , SourceID varchar(40) , SourceTable varchar(40) , StudentID varchar(40) , TermID varchar(40) , YearID varchar(40) );

In [63]:
df2.head()

  TargetTableName      TargetColumnName
0     OfficeVisit  Actions_Health_Visit
1     OfficeVisit   Assessment_Comments
2     OfficeVisit       Health_Visit_ID
3     OfficeVisit     Screening_Outcome
4     OfficeVisit                   NaN

### Data Cleaning , preparing the list of tables to be created in Database 2

In [77]:
df2=df2.dropna()
df2Dummy=df2.drop_duplicates()
df2Dummy['TargetTableName'] = df2Dummy['TargetTableName'].str.replace('/','')
df2Dummy['TargetColumnName'] = df2Dummy['TargetColumnName'].str.replace('(','')
df2Dummy['TargetColumnName'] = df2Dummy['TargetColumnName'].str.replace(')','')
lt=df2Dummy.TargetTableName.unique().tolist()
#print(lt)

['OfficeVisit', 'Immunization', 'Inventory', 'Waivers', 'Hearing', 'OralDental', 'Scoliosis', 'Tuberclosis', 'Vision', 'VitalSigns', 'StudentContacts', 'SchoolDetails', 'StudentProfile']

<ipython-input-77-2bccb57705a4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2Dummy['TargetTableName'] = df2Dummy['TargetTableName'].str.replace('/','')
<ipython-input-77-2bccb57705a4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2Dummy['TargetColumnName'] = df2Dummy['TargetColumnName'].str.replace('(','')
<ipython-input-77-2bccb57705a4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2Dummy['TargetColumnName'] = df2Dummy['TargetColumnName'].str.replace(')','')

### Creating tables in the Database 2

In [78]:
for tblName in lt:  
    rslt_df = df2Dummy[df2Dummy["TargetTableName"] == tblName] 
    lt_col=rslt_df["TargetColumnName"].tolist()
    #print(lt_col)
    SqlQrt="CREATE TABLE " +  tblName + " ("
    colQuery=""
    Col_count=0
    for colName in lt_col:
        Col_count=Col_count+1
        colQuery=colName + " varchar(40) "
        if(len(lt_col)!=Col_count):
            colQuery=colQuery+"," 
        SqlQrt=SqlQrt+" "+ colQuery 
    SqlQrt=SqlQrt + ");"
    cursor.execute("use Database2")
    cursor.execute(SqlQrt)

   # print(SqlQrt)

CREATE TABLE OfficeVisit ( Actions_Health_Visit varchar(40) , Assessment_Comments varchar(40) , Health_Visit_ID varchar(40) , Screening_Outcome varchar(40) , ParentGuardian_Contact_Ind varchar(40) , Provider_Name varchar(40) , Provider_Type varchar(40) , StudentID varchar(40) , Time_In varchar(40) , Time_Out varchar(40) , Visit_Date varchar(40) , Visit_Reason varchar(40) , Visit_Type varchar(40) , Visit_Type_ID varchar(40) );
CREATE TABLE Immunization ( Administered_Dose_Count varchar(40) , Compliance_Status varchar(40) , Exemption_Code varchar(40) , Exemption_Reason varchar(40) , Exemption_State_Code varchar(40) , Exemption_State_Reason varchar(40) , Exemption_Status varchar(40) , Immunization_Comment varchar(40) , StudentID varchar(40) , Vaccine_Code varchar(40) , Vaccine_Compliance_Mode varchar(40) , Vaccine_Description varchar(40) , Vaccine_Dose_Count varchar(40) , Vaccine_ID varchar(40) , Vaccine_MandatoryOptional varchar(40) , Vaccine_Name varchar(40) , Vaccine_Sort_Order varchar(40) , Vaccine_State_Code varchar(40) , Vaccine_State_Name varchar(40) , Certificate_Type_Code varchar(40) , Certificate_Type_Name varchar(40) , Certificate_Type_State_Code varchar(40) , Certificate_Type_State_Name varchar(40) , Compliancy_Statement varchar(40) , Compliancy_Status varchar(40) , Dose_Date_Administered varchar(40) , Dose_Date_Recorded varchar(40) , Dose_Number varchar(40) , Is_Default_Certificate_Type varchar(40) , Vaccination_DoseID varchar(40) , Imm_Source_ID varchar(40) , Student_Imm_Record_ID varchar(40) );
CREATE TABLE Inventory ( Active_Med_Alert_Indicator varchar(40) , CustomMedication_Name varchar(40) , ID varchar(40) , Immunization_Status varchar(40) , Medical_Alert_Exp_Date varchar(40) , Medical_Alert_Text varchar(40) , StudentID varchar(40) );
CREATE TABLE Waivers ( ID varchar(40) , StudentID varchar(40) , Waiver_Date varchar(40) , Student_Grade_Level varchar(40) , Waiver_Reason varchar(40) , Comments varchar(40) );
CREATE TABLE Hearing ( Hearing_Test_Comments varchar(40) , Student_Grade_Level varchar(40) , hearing_aid varchar(40) , Student_Hearing_ID varchar(40) , Impaired_Test_Indicator varchar(40) , Late_Test_Indicator varchar(40) , Left_Ear_Result varchar(40) , Screening_Outcome varchar(40) , Provider_Name varchar(40) , Provider_Type varchar(40) , Referral_Date varchar(40) , Right_Ear_Result varchar(40) , Screening_Date varchar(40) , ScreeningTypeID varchar(40) , StudentID varchar(40) , Test_Type varchar(40) );
CREATE TABLE OralDental ( Dental_Screening_Comments varchar(40) , Student_Grade_Level varchar(40) , Dental_History_Number varchar(40) , ID varchar(40) , Malocclusion varchar(40) , Screening_Outcome varchar(40) , Provider_Name varchar(40) , Provider_Type varchar(40) , Screening_Date varchar(40) , ScreeningTypeID varchar(40) , Sealants varchar(40) , StudentID varchar(40) , TreatmentUrgency varchar(40) , UntreatedCaries varchar(40) );
CREATE TABLE Scoliosis ( Scoliosis_Test_Comment varchar(40) , Student_Grade_Level varchar(40) , Scoliosis_Test_ID varchar(40) , Screening_Outcome varchar(40) , Provider_Name varchar(40) , Provider_Type varchar(40) , Screening_Date varchar(40) , ScreeningTypeID varchar(40) , StudentID varchar(40) , Xray_Film_Date varchar(40) , Xray_Film_Impression varchar(40) );
CREATE TABLE Tuberclosis ( Comment varchar(40) , Student_Grade_Level varchar(40) , ID varchar(40) , Induration_Size varchar(40) , Screening_Outcome varchar(40) , Provider_Name varchar(40) , Provider_Type varchar(40) , Screening_Date varchar(40) , ScreeningTypeID varchar(40) , Skin_Test_Given_Date varchar(40) , Skin_Test_Read_Date varchar(40) , Skin_Test_Result varchar(40) , Skin_Test_Type varchar(40) , StudentID varchar(40) , Xray_Film_Date varchar(40) , Xray_Film_Impression varchar(40) );
CREATE TABLE Vision ( Color_Blind_Test_Result varchar(40) , Comment varchar(40) , Student_Grade_Level varchar(40) , ID varchar(40) , Late_Test_Indicator varchar(40) , Left_Eye_Result varchar(40) , Screening_Outcome varchar(40) , Provider_Name varchar(40) , Provider_Type varchar(40) , Referral_Date varchar(40) , Right_Eye_Result varchar(40) , Screening_Date varchar(40) , ScreeningTypeID varchar(40) , StudentID varchar(40) , Vision_Aid varchar(40) );
CREATE TABLE VitalSigns ( Vision_Aid varchar(40) );
CREATE TABLE StudentContacts ( Studen_Fathers_employer varchar(40) , Student_Fathers_home_Phone varchar(40) , Student_Fathers_daytimePhone varchar(40) );
CREATE TABLE SchoolDetails ( Current_School_Abbreviation varchar(40) , School_ID varchar(40) , School_Is_SummerSchool varchar(40) , School_Number varchar(40) , School_Address varchar(40) , School_City varchar(40) , School_Country varchar(40) , SchoolFax varchar(40) , SchoolID varchar(40) , School_Name varchar(40) , School_Phone varchar(40) , School_State varchar(40) , School_Year varchar(40) , Schoo_lZip varchar(40) );
CREATE TABLE StudentProfile ( Student_Number varchar(40) , Student_Grade_Level varchar(40) , Student_Current_School_Abbreviation varchar(40) , Student_Gender varchar(40) , Student_Ethnicity_Name varchar(40) , Student_Ethnicity_Code varchar(40) , Student_Special_Ed_Student_Indicator varchar(40) , Student_Middle_Name varchar(40) , Student_Last_Name varchar(40) , Student_First_Name varchar(40) , Student_Date_Of_Birth varchar(40) , Student_ClassOf varchar(40) , StudentID varchar(40) );

In [101]:
for tblName in lt:  
    rslt_df = df2Dummy[df2Dummy["TargetTableName"] == tblName] 
    lt1_col=rslt_df["TargetColumnName"].tolist()
  
    SqlQrt="INSERT INTO " + tblName + " ("
    colQuery=""
    Col_cout=0
    for colName in lt1_col:
        Col_count=Col_cout+1
        colQuery=colName
        if(len(lt1_col)!=Col_cout):
            colQuery=colQuery+","
        
        SqlQrt=SqlQrt+colQuery 
    SqlQrt=SqlQrt + ")"
    
    valueQuery=" VALUES ("
    valueCount=0
    for colName in lt1_col:
        valueCount=valueCount+1
        if(len(lt1_col)!=valueCount):
            valueQuery= valueQuery +"Dummy Text"+"," 
        else:
             valueQuery= valueQuery +"Dummy Text"
        
    valueQuery=valueQuery + ")"
    
    SqlQrt=SqlQrt+ valueQuery
#     cursor.execute("use Database2")
#     cursor.execute(SqlQrt)

    print(SqlQrt)

INSERT INTO OfficeVisit (Actions_Health_Visit,Assessment_Comments,Health_Visit_ID,Screening_Outcome,ParentGuardian_Contact_Ind,Provider_Name,Provider_Type,StudentID,Time_In,Time_Out,Visit_Date,Visit_Reason,Visit_Type,Visit_Type_ID,) VALUES (Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text)
INSERT INTO Immunization (Administered_Dose_Count,Compliance_Status,Exemption_Code,Exemption_Reason,Exemption_State_Code,Exemption_State_Reason,Exemption_Status,Immunization_Comment,StudentID,Vaccine_Code,Vaccine_Compliance_Mode,Vaccine_Description,Vaccine_Dose_Count,Vaccine_ID,Vaccine_MandatoryOptional,Vaccine_Name,Vaccine_Sort_Order,Vaccine_State_Code,Vaccine_State_Name,Certificate_Type_Code,Certificate_Type_Name,Certificate_Type_State_Code,Certificate_Type_State_Name,Compliancy_Statement,Compliancy_Status,Dose_Date_Administered,Dose_Date_Recorded,Dose_Number,Is_Default_Certificate_Type,Vaccination_DoseID,Imm_Source_ID,Student_Imm_Record_ID,) VALUES (Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text)
INSERT INTO Inventory (Active_Med_Alert_Indicator,CustomMedication_Name,ID,Immunization_Status,Medical_Alert_Exp_Date,Medical_Alert_Text,StudentID,) VALUES (Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text)
INSERT INTO Waivers (ID,StudentID,Waiver_Date,Student_Grade_Level,Waiver_Reason,Comments,) VALUES (Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text)
INSERT INTO Hearing (Hearing_Test_Comments,Student_Grade_Level,hearing_aid,Student_Hearing_ID,Impaired_Test_Indicator,Late_Test_Indicator,Left_Ear_Result,Screening_Outcome,Provider_Name,Provider_Type,Referral_Date,Right_Ear_Result,Screening_Date,ScreeningTypeID,StudentID,Test_Type,) VALUES (Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text)
INSERT INTO OralDental (Dental_Screening_Comments,Student_Grade_Level,Dental_History_Number,ID,Malocclusion,Screening_Outcome,Provider_Name,Provider_Type,Screening_Date,ScreeningTypeID,Sealants,StudentID,TreatmentUrgency,UntreatedCaries,) VALUES (Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text)
INSERT INTO Scoliosis (Scoliosis_Test_Comment,Student_Grade_Level,Scoliosis_Test_ID,Screening_Outcome,Provider_Name,Provider_Type,Screening_Date,ScreeningTypeID,StudentID,Xray_Film_Date,Xray_Film_Impression,) VALUES (Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text)
INSERT INTO Tuberclosis (Comment,Student_Grade_Level,ID,Induration_Size,Screening_Outcome,Provider_Name,Provider_Type,Screening_Date,ScreeningTypeID,Skin_Test_Given_Date,Skin_Test_Read_Date,Skin_Test_Result,Skin_Test_Type,StudentID,Xray_Film_Date,Xray_Film_Impression,) VALUES (Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text)
INSERT INTO Vision (Color_Blind_Test_Result,Comment,Student_Grade_Level,ID,Late_Test_Indicator,Left_Eye_Result,Screening_Outcome,Provider_Name,Provider_Type,Referral_Date,Right_Eye_Result,Screening_Date,ScreeningTypeID,StudentID,Vision_Aid,) VALUES (Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text)
INSERT INTO VitalSigns (Vision_Aid,) VALUES (Dummy Text)
INSERT INTO StudentContacts (Studen_Fathers_employer,Student_Fathers_home_Phone,Student_Fathers_daytimePhone,) VALUES (Dummy Text,Dummy Text,Dummy Text)
INSERT INTO SchoolDetails (Current_School_Abbreviation,School_ID,School_Is_SummerSchool,School_Number,School_Address,School_City,School_Country,SchoolFax,SchoolID,School_Name,School_Phone,School_State,School_Year,Schoo_lZip,) VALUES (Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text)
INSERT INTO StudentProfile (Student_Number,Student_Grade_Level,Student_Current_School_Abbreviation,Student_Gender,Student_Ethnicity_Name,Student_Ethnicity_Code,Student_Special_Ed_Student_Indicator,Student_Middle_Name,Student_Last_Name,Student_First_Name,Student_Date_Of_Birth,Student_ClassOf,StudentID,) VALUES (Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text,Dummy Text)